.DS_Store
/app/config/parameters.yml
/vendor/

composer.lock

web/index.php
web/*deprecation_*.log
web/*ENABLE_INSTALL_TOOL*
web/typo3temp
web/uploads
web/typo3
!web/typo3conf
web/typo3conf/*
!web/typo3conf/LocalConfiguration.php
!web/typo3conf/AdditionalConfiguration.php
!/web/typo3conf/l10n
web/typo3_src
web/fileadmin/*
!web/fileadmin/example_content/
!web/fileadmin/templates/
!web/fileadmin/custom/

.idea/
